*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.container{
    width:700px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}

.input-section,
.search-section{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input{
    flex:1;
    padding:12px;
    font-size:16px;
    border:2px solid #ddd;
    border-radius:8px;
    outline:none;
    transition:0.3s;
}

input:focus{
    border-color:#4facfe;
}

button{
    padding:12px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    color:white;
    transition:.3s;
}

#addTaskButton{
    background:#007bff;
}

#addTaskButton:hover{
    background:#0056b3;
}

#clearAll{
    background:#dc3545;
}

#clearAll:hover{
    background:#b02a37;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    background:#f8f9fa;
    padding:15px;
    border-radius:10px;
    margin-bottom:12px;
    box-shadow:0 2px 6px rgba(0,0,0,.1);
}

li span{
    flex:1;
    font-size:18px;
    word-break:break-word;
}

li input{
    flex:1;
}

.completed{
    text-decoration:line-through;
    color:green;
    font-weight:bold;
}

li button{
    padding:8px 14px;
    font-size:14px;
}

li button:nth-child(2){
    background:#28a745;
}

li button:nth-child(2):hover{
    background:#218838;
}

li button:nth-child(3){
    background:#ffc107;
    color:black;
}

li button:nth-child(3):hover{
    background:#e0a800;
}

li button:nth-child(4){
    background:#dc3545;
}

li button:nth-child(4):hover{
    background:#c82333;
}

.summary{
    margin-top:25px;
    background:#eef5ff;
    padding:20px;
    border-radius:10px;
}

.summary h3{
    margin-bottom:15px;
    color:#333;
}

.summary p{
    margin:10px 0;
    font-size:18px;
}

.summary span{
    font-weight:bold;
    color:#007bff;
}